.leaflet-container {
  height: 100%;
  width: 100%;
}

.leaflet-tile-pane {
  filter: grayscale(100%);
}

#map-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#map-crosshairs {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background: transparent;
  pointer-events: none;
}

#map-crosshairs::before,
#map-crosshairs::after {
  content: "";
  position: absolute;
  background: black;
  z-index: 1000;
}

#map-crosshairs::before {
  width: 2px;
  height: 200%; 
  top: 0;
  left: 100%;
  transform: translateX(-100%);
}

#map-crosshairs::after {
  width: 200%;
  height: 2px;
  top: 100%;
  left: 0;
  transform: translateY(-100%);
}
