html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: "Ubuntu Sans", sans-serif;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.leaflet-tile-pane {
  filter: grayscale(100%);
}
