name: Build and deploy

on:
  workflow_dispatch:
  push:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 19.x

      - name: Install NPM packages
        run: npm install

      - name: Build project
        run: npm run build

      - name: Add custom headers
        run: |
          echo "/*" > build/_headers
          echo "  Content-Security-Policy: default-src 'self';" >> build/_headers
          echo "  img-src 'self' data: https://nuuuwan.github.io https://*.tile.openstreetmap.org https://sentinel.arcgis.com;" >> build/_headers
          echo "  font-src 'self' https://fonts.gstatic.com;" >> build/_headers
          echo "  script-src 'self';" >> build/_headers
          echo "  style-src 'self' 'unsafe-inline';" >> build/_headers
          echo "  connect-src 'self' https://api.open-meteo.com https://raw.githubusercontent.com;" >> build/_headers
          echo "" >> build/_headers
          echo "..." >> build/_headers

      - name: Upload production-ready build files
        uses: actions/upload-artifact@v4
        with:
          name: production-files
          path: ./build

  deploy:
    name: Deploy
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: production-files
          path: ./build

      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.PAGES_TOKEN }}
          publish_dir: ./build
